# Validation of has_active_fd

In [2]:
import sqlalchemy 
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [3]:
run_date=datetime(2021,9,14)

In [4]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [5]:
# df_fd_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_fd_master=pd.read_sql('fc_fd_master',con=engine)

In [7]:
# df_fd_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_fd_facts=pd.read_sql('fc_fd_facts',con=engine)
df_fd_facts=df_fd_facts[["account_number","customer_code","has_active_fd"]]

In [9]:
df_fd_customers=df_fd_master[(df_fd_master["is_active"]==1)&(df_fd_master["maturity_date"]>run_date)][["customer_code"]].drop_duplicates()
df_fd_customers["has_active_fd"]=1
df_fd_customers

                                  customer_code  has_active_fd
0      a2d8e25b702520c1307ec520722f9c6eee2d0b42              1
1      b57b66e644af2df8a122f49294d3c3c2f162acc2              1
5      033722e73d218760423dc5363384773764e7be8b              1
7      e601d05bd8d0dd2d23d30087bb10c7f61b4eb40e              1
12     043a274c27df6867e4094abb24d4a50ed15c2500              1
...                                         ...            ...
25589  8c74ba14945458068f2d9d6dc9b5613dcdc244b5              1
25590  c4af208278d915482e458745ef9be73f4d0c7c01              1
25592  a00a1ec70b5909611923ffc51b4a03c9df4f853f              1
25593  c6bd7439bd51523dc8c3123d896a7697d6bd1717              1
25594  897f55c21409fdb035f073bb86f0820c7df672df              1

[9576 rows x 2 columns]

In [13]:
df_qa_vs_dev=pd.merge(df_fd_customers,df_fd_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["has_active_fd_qa"]==df_qa_vs_dev["has_active_fd_dev"]
    ],
    [
        "Pass"
    ],
    default='Fail'
)
df_qa_vs_dev

,customer_code,has_active_fd_qa,account_number,has_active_fd_dev,status
0,a2d8e25b702520c1307ec520722f9c6eee2d0b42,1,96286d27559b1490d45900d338b3d3c578179512,1,Pass
1,033722e73d218760423dc5363384773764e7be8b,1,2a3f903e71bb59b99a51324ac1f7d46f43c6b824,1,Pass
2,043a274c27df6867e4094abb24d4a50ed15c2500,1,5cd3a165ef21d008a6996b3212e0b77751580011,1,Pass
3,b62fdb2f73c7450761aee2834a6c8541fb33894f,1,98ded574579ccd1c11aad970040b3e20f8fa502c,1,Pass
4,73632117298569bbaa78fc8f597bb1288e97875b,1,b94594e6a2b0d033b2132eea18bf682b238625d0,1,Pass
...,...,...,...,...,...
8204,8c74ba14945458068f2d9d6dc9b5613dcdc244b5,1,f28ec4c884248388f52f480929afb648abc0cd54,1,Pass
8205,c4af208278d915482e458745ef9be73f4d0c7c01,1,2f5843fe6d763d6b7021891a736e836701b8e7d2,1,Pass
8206,a00a1ec70b5909611923ffc51b4a03c9df4f853f,1,937db34bbb7aa566f8e74dbf0416e3b829052d3b,1,Pass
8207,c6bd7439bd51523dc8c3123d896a7697d6bd1717,1,a669392ecfe6cbb8c87e9dea48d79db0829d4a87,1,Pass
8208,897f55c21409fdb035f073bb86f0820c7df672df,1,bb74d90c844399f231406442460e49ac98c95160,1,Pass

In [14]:
df_qa_vs_dev["status"].value_counts()

Pass    8209
Name: status, dtype: int64

In [16]:
df_fd_facts[df_fd_facts["has_active_fd"]==1].shape

(8209, 3)