# Validation of matured_fd_count

In [27]:
import sqlalchemy 
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [28]:
run_date=datetime(2021,9,14)

In [29]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [30]:
# df_fd_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_fd_master=pd.read_sql('fc_fd_master',con=engine)

In [31]:
# df_fd_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_fd_facts=pd.read_sql('fc_fd_facts',con=engine)
df_fd_facts=df_fd_facts[["account_number","customer_code","matured_fd_count"]]

In [32]:
df_fd_customers=df_fd_master[(df_fd_master["is_active"]==0)| (df_fd_master["maturity_date"]<=run_date)][["customer_code"]].groupby(["customer_code"]).agg(
    matured_fd_count=("customer_code","count")
)
df_fd_customers.reset_index(inplace=True)

In [33]:
df_qa_vs_dev=pd.merge(df_fd_customers,df_fd_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["matured_fd_count_qa"]==df_qa_vs_dev["matured_fd_count_dev"]
    ],
    [
        "Pass"
    ],
    default='Fail'
)
df_qa_vs_dev

,customer_code,matured_fd_count_qa,account_number,matured_fd_count_dev,status
0,0004826f6afb29aacc7e5e6a67d0a3b857a64058,2,6c37f9c17de145cfbbe5b3a2f7cb6ee72b887f52,2,Pass
1,001b99791028b7226b11b7186b135649430699f7,1,f02e5e456104671d2c55180fe39bff373c0e584b,1,Pass
2,001b99791028b7226b11b7186b135649430699f7,1,6a40d860e4fbe38f0893a4d95dc08e45752298ee,1,Pass
3,001e72eb9f09076ecba9c749eccb13b41fdfeb36,1,37510daf503da8be50d1a694ea813cc293a131d2,1,Pass
4,0030ff65ee4df6a0c7f470f809005204af53259d,1,77dbbd9e2ffa238cb51a9bcaa9c15dfa4d60d51e,1,Pass
...,...,...,...,...,...
2346,ff1a5e110d56587f7925e5a9f80170df8e79b5c0,4,bd216f3b7d388ad48cc2ec7f31e5f62df8aca0f8,4,Pass
2347,ff5072589021c90bebacb47382208e634a1e3252,1,6d005ca4c8eb25fea6f060c1a9f9fd54d0b480d5,1,Pass
2348,ff5f47e9008221bfdaa348698a494d8493d47b6e,1,adc4f711736f1ef23aa1e49f3b6eccf56f58f288,1,Pass
2349,ff87c06adad793569a8ac7b4da945e9a59bef73e,1,b1f7b8a822868cc9ca9634d4444c8baff70ffb56,1,Pass
2350,ffceaacaa2179b7f695e05f261cca26120369d53,1,b524a12f4c91df6fca73580de1b0edb93e677751,1,Pass

In [34]:
df_qa_vs_dev["status"].value_counts()

Pass    2351
Name: status, dtype: int64

In [35]:
df_fd_facts[df_fd_facts["matured_fd_count"]!=0].shape

(2351, 3)