# Validation of avg_active_fd_amount

In [1]:
import sqlalchemy 
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [2]:
run_date=datetime(2021,9,14)

In [3]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [4]:
# df_fd_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_fd_master=pd.read_sql('fc_fd_master',con=engine)

In [5]:
# df_fd_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_fd_facts=pd.read_sql('fc_fd_facts',con=engine)
df_fd_facts=df_fd_facts[["account_number","customer_code","avg_active_fd_amount"]]

In [6]:
df_fd_customers=df_fd_master[(df_fd_master["is_active"]==1)&(df_fd_master["maturity_date"]>run_date)][["customer_code","fd_amount"]].groupby(["customer_code"]).agg(
    avg_active_fd_amount=("fd_amount","mean")
)
df_fd_customers.reset_index(inplace=True)

In [7]:
df_qa_vs_dev=pd.merge(df_fd_customers,df_fd_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["avg_active_fd_amount_qa"]==df_qa_vs_dev["avg_active_fd_amount_dev"]
    ],
    [
        "Pass"
    ],
    default='Fail'
)
df_qa_vs_dev

,customer_code,avg_active_fd_amount_qa,account_number,avg_active_fd_amount_dev,status
0,0003da8d5a1a39201cbe97f8eb77049e104ed647,2000000.0000000000,ceeed3ef3cd41ece9e852928326bf5ea2f774dcb,2000000.0000000000,Pass
1,0004826f6afb29aacc7e5e6a67d0a3b857a64058,200000.0000000000,6c37f9c17de145cfbbe5b3a2f7cb6ee72b887f52,200000.0000000000,Pass
2,001b99791028b7226b11b7186b135649430699f7,25000000.0000000000,f02e5e456104671d2c55180fe39bff373c0e584b,25000000.0000000000,Pass
3,001b99791028b7226b11b7186b135649430699f7,25000000.0000000000,6a40d860e4fbe38f0893a4d95dc08e45752298ee,25000000.0000000000,Pass
4,001e72eb9f09076ecba9c749eccb13b41fdfeb36,700000.0000000000,37510daf503da8be50d1a694ea813cc293a131d2,700000.0000000000,Pass
...,...,...,...,...,...
8204,ffceaacaa2179b7f695e05f261cca26120369d53,500000.0000000000,b524a12f4c91df6fca73580de1b0edb93e677751,500000.0000000000,Pass
8205,ffd8bda798e0c58304241c2109474244db63adb5,15000.0000000000,a9ad0f987bee967789c14b21e3d073c604be0100,15000.0000000000,Pass
8206,fff043e40cc7e34e1be2d5b18130d454711a336a,1500000.0000000000,13c94f855627f26aa940f68afd918d63fdbb3038,1500000.0000000000,Pass
8207,fffb4db17992ce0126ddc5671c0c4fb3276b0f5d,200000.0000000000,673a6d9014663af03099d0056acc90dca22e4734,200000.0000000000,Pass
8208,fffdb9cc3021d4008b19d7535b5013263698dce8,240000.0000000000,91ed71216bf9eea9582e223566d3eb9b5c4c927e,240000.0000000000,Pass

In [8]:
df_qa_vs_dev["status"].value_counts()

Pass    8209
Name: status, dtype: int64

In [9]:
df_fd_facts[df_fd_facts["avg_active_fd_amount"]!=0].shape

(8209, 3)