# Validation of income_pattern

In [1]:
import sqlalchemy
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# Read transaction_base
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_transaction_base=pd.read_sql('fc_transaction_base',con=engine)
df_transaction_base

,id,tran_id,tran_date,account_number,org_id,branch,product,lcy_amount,fcy_amount,description1,description2,description3,dc_indicator,transaction_code,is_salary,modified_by,modified_on,created_by,created_on
0,1,None,2021-01-13,006d4f6aed5d4fb66fe2ed738333a4d276715a60,None,None,None,8.23,None,0070007342300001:Int.Pd:17-10-2020 to 13-01-2021,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 06:08:11
1,2,None,2021-04-13,006d4f6aed5d4fb66fe2ed738333a4d276715a60,None,None,None,0.31,None,0070007342300001:WTax.Pd:14-01-2021to 13-04-2021,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:08:11
2,3,None,2021-04-13,b58f0552fcaf72601839b5985a680245586d4d53,None,None,None,0.01,None,0170012327700001:WTax.Pd:14-01-2021to 13-04-2021,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:08:11
3,4,None,2021-01-13,006d4f6aed5d4fb66fe2ed738333a4d276715a60,None,None,None,0.41,None,0070007342300001:WTax.Pd:17-10-2020to 13-01-2021,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:08:11
4,5,None,2021-03-15,fa96810e3e7aa2ec27d445dbe07f6f3ca71c60f7,None,None,None,300000.00,None,0040005405500003 : Closure Proceeds,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 06:08:11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5499995,5557221,None,2021-01-13,6f8b0d76b5c5d1bb7fec6480c483a9738ec50fa2,None,None,None,5016.68,None,Standing Instruction,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 14:00:14
5499996,5557232,None,2021-01-18,6f8b0d76b5c5d1bb7fec6480c483a9738ec50fa2,None,None,None,5016.68,None,Standing Instruction,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 14:00:14
5499997,5557238,None,2021-01-23,6f8b0d76b5c5d1bb7fec6480c483a9738ec50fa2,None,None,None,5016.68,None,Standing Instruction,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 14:00:14
5499998,5557246,None,2021-01-27,6f8b0d76b5c5d1bb7fec6480c483a9738ec50fa2,None,None,None,5016.68,None,Standing Instruction,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 14:00:14
5499999,5557259,None,2021-02-02,6f8b0d76b5c5d1bb7fec6480c483a9738ec50fa2,None,None,None,5016.68,None,Standing Instruction,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 14:00:15

In [3]:
# Read transaction_base
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)
df_pre_facts=df_pre_facts[["account_number","income_pattern"]]

In [4]:
df_transaction_base_sal=df_transaction_base[df_transaction_base["is_salary"]!=0]
df_transaction_base_sal=df_transaction_base_sal.groupby(["account_number"]).agg(
    income_pattern=("is_salary","min")
)
df_transaction_base_sal

                                          income_pattern
account_number
00009d049f8fae9a942ca0063f4257182af54c89               1
0000bb835aa73658f51e6ab82cf398b019ac1e42               1
00016b54c6bd7328b2899c137158ff0aab0099e4               1
00018eaa26ee0c3836b3c1d080627a3a2b3e45f5               3
00045b681e613bb66ce53c2517976a256fec9292               1
...                                                  ...
fff99e408b8f61139022f67074b435f74062793f               3
fffc47d84b019ebf1f045de66331f981d448b3c8               1
fffc7cca92704cf68c6e935843ab24f80fc83418               1
fffce749db8d2a7ddd0437085e03ff8d1e1308ef               1
fffef9f15af92a8025906e7bd8550ba5d33666da               3

[30919 rows x 1 columns]

In [6]:
df_qa_vs_dev=pd.merge(df_transaction_base_sal,df_pre_facts,how="inner",on="account_number",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["income_pattern_qa"]==df_qa_vs_dev["income_pattern_dev"]
    ],
    [
        "pass"
    ],
    default="fail"
)
df_qa_vs_dev

,account_number,income_pattern_qa,income_pattern_dev,status
0,00009d049f8fae9a942ca0063f4257182af54c89,1,1,pass
1,0000bb835aa73658f51e6ab82cf398b019ac1e42,1,1,pass
2,00016b54c6bd7328b2899c137158ff0aab0099e4,1,1,pass
3,00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,3,3,pass
4,00045b681e613bb66ce53c2517976a256fec9292,1,1,pass
...,...,...,...,...
30914,fff99e408b8f61139022f67074b435f74062793f,3,3,pass
30915,fffc47d84b019ebf1f045de66331f981d448b3c8,1,1,pass
30916,fffc7cca92704cf68c6e935843ab24f80fc83418,1,1,pass
30917,fffce749db8d2a7ddd0437085e03ff8d1e1308ef,1,1,pass
30918,fffef9f15af92a8025906e7bd8550ba5d33666da,3,3,pass

In [7]:
df_qa_vs_dev["status"].value_counts()

pass    30919
Name: status, dtype: int64

In [8]:
df_pre_facts[df_pre_facts["income_pattern"]!=0].shape

(30919, 2)