# Validation of total_present_months

In [2]:
import sqlalchemy
import pandas as pd
import numpy as np

In [3]:
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_account_master=pd.read_sql('fc_account_master',con=engine)
df_transaction_base=pd.read_sql('fc_transaction_base',con=engine)

In [4]:
# Get selected fields
df_account_master=df_account_master[["account_number","customer_code","acc_open_date","acc_closed_date","active_flag"]]
df_transaction_base=df_transaction_base[["account_number","tran_date","lcy_amount","is_salary"]] 
df_transaction_base_sal=df_transaction_base[df_transaction_base["is_salary"]!=0]

In [16]:
df_transaction_base_sal["tran_date_year"]=df_transaction_base_sal["tran_date"].dt.year
df_transaction_base_sal["tran_date_month"]=df_transaction_base_sal["tran_date"].dt.month
df_transaction_base_sal["tran_date_year_month"]=df_transaction_base_sal["tran_date_year"].astype(str)+df_transaction_base_sal["tran_date_month"].astype(str)
df_transaction_base_sal

<ipython-input-16-9eed7b126e7e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transaction_base_sal["tran_date_year"]=df_transaction_base_sal["tran_date"].dt.year
<ipython-input-16-9eed7b126e7e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transaction_base_sal["tran_date_month"]=df_transaction_base_sal["tran_date"].dt.month
<ipython-input-16-9eed7b126e7e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transaction_base_sal["tran_date_year_month"]=df_transaction_base_sal["tran_date_year"].astype(str)+df_transaction_base_sal["tran_date_month"].astype(str)

,account_number,tran_date,lcy_amount,is_salary,tran_date_year,tran_date_month,tran_date_year_month
134,b37fec3f5493b2c5bee43bee17e22bab3644e010,2021-04-24,10000.00,3,2021,4,20214
178,b37fec3f5493b2c5bee43bee17e22bab3644e010,2021-01-23,10000.00,3,2021,1,20211
185,b9384d39105cd0521303349089d27e429c1eebfe,2021-04-29,21850.00,1,2021,4,20214
189,b37fec3f5493b2c5bee43bee17e22bab3644e010,2021-03-26,10000.00,3,2021,3,20213
229,b9384d39105cd0521303349089d27e429c1eebfe,2021-02-07,18658.00,1,2021,2,20212
...,...,...,...,...,...,...,...
5499681,6f7610ac3ece4246a819dfb94a9d10472538daf9,2021-03-01,52918.72,3,2021,3,20213
5499721,5fec1fcaadcc1728a200be7bff7ba81c68af4dac,2021-04-18,2399773.53,3,2021,4,20214
5499727,5fec1fcaadcc1728a200be7bff7ba81c68af4dac,2021-05-18,2409663.53,3,2021,5,20215
5499861,152e0f2b7dc6b36dddda69f1442e26170be9d5d8,2021-05-01,21821.46,3,2021,5,20215
5499921,2a27a586b9dca379257a1aab6561a360b1ccf636,2021-04-20,648930.77,3,2021,4,20214

In [20]:
df_transaction_base_total_present_months=df_transaction_base_sal.groupby(["account_number"]).agg(
    total_present_months=("tran_date_year_month","nunique")
)
df_transaction_base_total_present_months

                                          total_present_months
account_number
00009d049f8fae9a942ca0063f4257182af54c89                     5
0000bb835aa73658f51e6ab82cf398b019ac1e42                     1
00016b54c6bd7328b2899c137158ff0aab0099e4                     4
00018eaa26ee0c3836b3c1d080627a3a2b3e45f5                     3
00045b681e613bb66ce53c2517976a256fec9292                     2
...                                                        ...
fff99e408b8f61139022f67074b435f74062793f                     3
fffc47d84b019ebf1f045de66331f981d448b3c8                     1
fffc7cca92704cf68c6e935843ab24f80fc83418                     1
fffce749db8d2a7ddd0437085e03ff8d1e1308ef                     1
fffef9f15af92a8025906e7bd8550ba5d33666da                     4

[30919 rows x 1 columns]

In [21]:
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)

In [22]:
df_pre_facts=df_pre_facts[["account_number","total_present_months"]]

In [26]:
df_qa_vs_dev=pd.merge(df_transaction_base_total_present_months,df_pre_facts,how="inner",on="account_number",suffixes=('_qa','_dev'))

df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["total_present_months_qa"]==df_qa_vs_dev["total_present_months_dev"]
    ],
    [
        "pass"
    ],
    default="fail"
)
df_qa_vs_dev

,account_number,total_present_months_qa,total_present_months_dev,status
0,00009d049f8fae9a942ca0063f4257182af54c89,5,5,pass
1,0000bb835aa73658f51e6ab82cf398b019ac1e42,1,1,pass
2,00016b54c6bd7328b2899c137158ff0aab0099e4,4,4,pass
3,00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,3,3,pass
4,00045b681e613bb66ce53c2517976a256fec9292,2,2,pass
...,...,...,...,...
30914,fff99e408b8f61139022f67074b435f74062793f,3,3,pass
30915,fffc47d84b019ebf1f045de66331f981d448b3c8,1,1,pass
30916,fffc7cca92704cf68c6e935843ab24f80fc83418,1,1,pass
30917,fffce749db8d2a7ddd0437085e03ff8d1e1308ef,1,1,pass
30918,fffef9f15af92a8025906e7bd8550ba5d33666da,4,4,pass

In [28]:
df_qa_vs_dev["status"].value_counts()

pass    30919
Name: status, dtype: int64