# Validation of has_loan

In [1]:
import sqlalchemy
import pandas as pd
import numpy as np
from datetime import datetime

In [32]:
# Read loan_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_loan_master=pd.read_sql('fc_loan_facts',con=engine)

In [49]:
# Read fc_pre_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)
df_pre_facts=df_pre_facts[["account_number","customer_code","has_loan"]]

In [54]:
df_loan_master_has_loan=df_loan_master[df_loan_master["is_active"]==1]

df_loan_master_has_loan=df_loan_master_has_loan.groupby(["customer_code"]).agg(
    is_active=("is_active","max")
)
df_loan_master_has_loan.reset_index(inplace=True)
df_loan_master_has_loan=df_loan_master_has_loan[["customer_code"]]
df_loan_master_has_loan["has_loan"]=1
df_loan_master_has_loan

                                          is_active
customer_code
0001037b42067f5937dfa085d1218633c95dc0c2          1
00059390196eb1e7bcf3311b1ba050b5322d96d5          1
00071a259ef3ca727f22e2892b6f4228cecac289          1
000c653228c38475179fac8281cd484f05ca6791          1
000ec0fc709998d1c81e2414590d5d51a527ae00          1
...                                             ...
fff4255732b4fee957ee5626f1ebff4805873da6          1
fff43bbcd935a3553b774ab3b592795e43157dcb          1
fff851a4747d5bdbfb419a2480db9a3ef41867d9          1
fffa0bc7da717124f481343095cd7992d7127083          1
fffbe69321f70c7148ceb789ed348d6ee9d218f3          1

[27153 rows x 1 columns]

                                  customer_code  has_loan
0      0001037b42067f5937dfa085d1218633c95dc0c2         1
1      00059390196eb1e7bcf3311b1ba050b5322d96d5         1
2      00071a259ef3ca727f22e2892b6f4228cecac289         1
3      000c653228c38475179fac8281cd484f05ca6791         1
4      000ec0fc709998d1c81e2414590d5d51a527ae00         1
...                                         ...       ...
27148  fff4255732b4fee957ee5626f1ebff4805873da6         1
27149  fff43bbcd935a3553b774ab3b592795e43157dcb         1
27150  fff851a4747d5bdbfb419a2480db9a3ef41867d9         1
27151  fffa0bc7da717124f481343095cd7992d7127083         1
27152  fffbe69321f70c7148ceb789ed348d6ee9d218f3         1

[27153 rows x 2 columns]

In [57]:
df_has_loan=pd.merge(df_loan_master_has_loan,df_pre_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_has_loan["status"]=np.select(
    [
        df_has_loan["has_loan_qa"]==df_has_loan["has_loan_dev"]
    ],
    [
        "pass"
    ],
    default="fail"
)
df_has_loan

,customer_code,has_loan_qa,account_number,has_loan_dev,status
0,0039f8a5b5d4a22dc753222d132620b366372dbe,1,b6c1634bb6bb60fe7593a1c438beea4025650be3,1,pass
1,003ad80fa366ae257b11df97241918843229775c,1,e4f7903d476273d5410fcf6b78f694a377f22536,1,pass
2,00433e0abdc6db0118a51522a90b1d0acab16d49,1,d264138fcef6c39efcbf96671fb53139c132f4b7,1,pass
3,005d37ff21c61ce1c8a72e0565bca87c435bbe87,1,adb4c7a07ce28093ed33764980018204bdaf263e,1,pass
4,005df2e0162faecc7808fb5addd38309d29090b3,1,d7c6288cb01364047ab451374805f7fc9db53b73,1,pass
...,...,...,...,...,...
2101,ffb3a2f1a69dfcdf71bcd4aa43057eed3dcba917,1,fd14d29b73c1e238c1e6e3c8f915eb82a8c27806,1,pass
2102,ffef0aab7a52e7b2113542fb61f964617741cedf,1,f648ebe733c2fd707ff711cd686dd81e65731479,1,pass
2103,fff15a065c6ed3e201088475e69a52213850b244,1,901e55f02f1c519048363cc072716256d10861a6,1,pass
2104,fff4255732b4fee957ee5626f1ebff4805873da6,1,f914e2e75cb3cf9f5dc01f27f3100296ce3f7339,1,pass
2105,fffa0bc7da717124f481343095cd7992d7127083,1,5cd9c5f03a6907fabe103de5d34c68b3d1623b83,1,pass

In [58]:
df_has_loan["status"].value_counts()

pass    2106
Name: status, dtype: int64

In [43]:
df_pre_facts[df_pre_facts["has_loan"]==1].shape

(2106, 3)