# Validation of active_loan_count

In [1]:
import sqlalchemy 
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [2]:
end_date=datetime(2021,6,30)
start_date=end_date-relativedelta(months=11)
start_date=start_date.strftime('%Y-%m-01')
start_date

'2020-07-01'

In [3]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [4]:
# df_loan_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_loan_master=pd.read_sql('fc_loan_facts',con=engine)

In [10]:
# df_loan_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_loan_facts=pd.read_sql('fc_loan_facts',con=engine)
df_loan_facts=df_loan_facts[["account_number","customer_code","active_loan_count"]]

In [6]:
df_active_loan_customers=df_loan_master[df_loan_master["is_active"]==1][["customer_code"]].groupby(["customer_code"]).agg(
    active_loan_count=("customer_code","count")
)
df_active_loan_customers.reset_index(inplace=True)
df_active_loan_customers

                                  customer_code  active_loan_count
0      0001037b42067f5937dfa085d1218633c95dc0c2                  1
1      00059390196eb1e7bcf3311b1ba050b5322d96d5                  1
2      00071a259ef3ca727f22e2892b6f4228cecac289                 10
3      000c653228c38475179fac8281cd484f05ca6791                  1
4      000ec0fc709998d1c81e2414590d5d51a527ae00                  1
...                                         ...                ...
27148  fff4255732b4fee957ee5626f1ebff4805873da6                  2
27149  fff43bbcd935a3553b774ab3b592795e43157dcb                  1
27150  fff851a4747d5bdbfb419a2480db9a3ef41867d9                  1
27151  fffa0bc7da717124f481343095cd7992d7127083                  2
27152  fffbe69321f70c7148ceb789ed348d6ee9d218f3                  1

[27153 rows x 2 columns]

In [11]:
df_qa_vs_dev=pd.merge(df_active_loan_customers,df_loan_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["active_loan_count_qa"]==df_qa_vs_dev["active_loan_count_dev"]
    ],
    [
        'Pass'
    ],
    default='Fail'
)
df_qa_vs_dev

,customer_code,active_loan_count_qa,account_number,active_loan_count_dev,status
0,0039f8a5b5d4a22dc753222d132620b366372dbe,1,b6c1634bb6bb60fe7593a1c438beea4025650be3,1,Pass
1,003ad80fa366ae257b11df97241918843229775c,1,e4f7903d476273d5410fcf6b78f694a377f22536,1,Pass
2,00433e0abdc6db0118a51522a90b1d0acab16d49,1,d264138fcef6c39efcbf96671fb53139c132f4b7,1,Pass
3,005d37ff21c61ce1c8a72e0565bca87c435bbe87,1,adb4c7a07ce28093ed33764980018204bdaf263e,1,Pass
4,0082ddfead73888bbdf166cc1462e303c38a2b77,1,b052d8e872b828b539f525964b7872fee6fd3009,1,Pass
...,...,...,...,...,...
1990,ffb3a2f1a69dfcdf71bcd4aa43057eed3dcba917,1,fd14d29b73c1e238c1e6e3c8f915eb82a8c27806,1,Pass
1991,ffef0aab7a52e7b2113542fb61f964617741cedf,1,f648ebe733c2fd707ff711cd686dd81e65731479,1,Pass
1992,fff15a065c6ed3e201088475e69a52213850b244,1,901e55f02f1c519048363cc072716256d10861a6,1,Pass
1993,fff4255732b4fee957ee5626f1ebff4805873da6,2,f914e2e75cb3cf9f5dc01f27f3100296ce3f7339,2,Pass
1994,fffa0bc7da717124f481343095cd7992d7127083,2,5cd9c5f03a6907fabe103de5d34c68b3d1623b83,2,Pass

In [12]:
df_qa_vs_dev["status"].value_counts()

Pass    1995
Name: status, dtype: int64

In [13]:
df_loan_facts[df_loan_facts["active_loan_count"]!=0].shape

(1995, 3)