# Validation of has_active_loan

In [1]:
import sqlalchemy 
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [2]:
end_date=datetime(2021,6,30)
start_date=end_date-relativedelta(months=11)
start_date=start_date.strftime('%Y-%m-01')
start_date

'2020-07-01'

In [3]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [8]:
# df_loan_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_loan_master=pd.read_sql('fc_loan_facts',con=engine)

In [5]:
# df_pre_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_loan_facts=pd.read_sql('fc_loan_facts',con=engine)
df_loan_facts=df_loan_facts[["account_number","customer_code","has_active_loan"]]

In [9]:
df_active_loan_customers=df_loan_master[df_loan_master["is_active"]==1][["customer_code"]].drop_duplicates()
df_active_loan_customers["has_active_loan"]=1
df_active_loan_customers

                                  customer_code  has_active_loan
84     840ea02dbe975383f556ad401f3abaf42e67cf2f                1
111    03743b9f452406faa83ec82da01f4b793c16e19e                1
661    b9374698004300240b574e6fa4941054059a61a0                1
680    465edc2f03805e66c8edc279f23603c94cd58836                1
681    946b34518c7d4ed501681208b504c6b0edd2c1ef                1
...                                         ...              ...
38170  86fe5a05c9577fa4bb0c2df17b415fc571064191                1
38171  23030840663b9d141551724734391621f5818e9a                1
38174  75720a7b1f9d2118ee1c39d8ca014873a1312838                1
38175  f6eca58886d75b8c61c9356da1d50e6c8b0893c0                1
38176  67585b546a2b4638c78d54590d1265aaf0436310                1

[27153 rows x 2 columns]

In [10]:
df_qa_vs_dev=pd.merge(df_active_loan_customers,df_loan_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["has_active_loan_qa"]==df_qa_vs_dev["has_active_loan_dev"]
    ],
    [
        "Pass"
    ],
    default='Fail'
)
df_qa_vs_dev

,customer_code,has_active_loan_qa,account_number,has_active_loan_dev,status
0,840ea02dbe975383f556ad401f3abaf42e67cf2f,1,45896804fcf92b51e08fe9fad145179846872865,1,Pass
1,55510685ca6052bf5a871a4a8f3809d860ce9e85,1,7b2e04ed7fbbec3f831930bf5909e016cd1bc518,1,Pass
2,60428e3ac75508fd81d30a54cd659b749b4b90f0,1,896fafadbd1cfc155ee42cf183cabd03e4c61f51,1,Pass
3,73107c1a6b176f12835d967315bfb31a5bbf07ac,1,1fcefc75bb92e826d9988af4809a0c3673ed499f,1,Pass
4,3a6e07326a04fc60fba1151a549ce8d570a31080,1,c3bf8d3045dc240a4d51f808f1062d63e39d52d1,1,Pass
...,...,...,...,...,...
1990,333d81a6771bce9805dc23be0c52e88396447294,1,d5271758f3b830cd3da6e39b4e2c36c426e46648,1,Pass
1991,f90e91f84837bdef26cd9dbeda22b98cd16a0c5b,1,ee72a2525730a3bc57355e1dab4fa744b7488122,1,Pass
1992,c0cdcad1d2bdbec8fbf69d678dd6a2d8bbef49ef,1,5e5ca70ea98cece0a007ddcb391bfca94947cb41,1,Pass
1993,f788ace55cfe91580b21ae256ce1d79949f9834e,1,55399588820a420ef3f9154e551bb2ea52a4d296,1,Pass
1994,debc449e1b0e0f190975e30ef2d5844f9681fa91,1,d831510a8dfacd4d6037921547d016990ad072e1,1,Pass

In [11]:
df_qa_vs_dev["status"].value_counts()

Pass    1995
Name: status, dtype: int64

In [13]:
df_loan_facts[df_loan_facts["has_active_loan"]==1].shape

(1995, 3)