# Validation of matured_loan_count

In [1]:
import sqlalchemy 
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [2]:
end_date=datetime(2021,6,30)
start_date=end_date-relativedelta(months=11)
start_date=start_date.strftime('%Y-%m-01')
start_date

'2020-07-01'

In [3]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [4]:
# df_loan_master
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_loan_master=pd.read_sql('fc_loan_facts',con=engine)

In [5]:
# df_loan_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_loan_facts=pd.read_sql('fc_loan_facts',con=engine)
df_loan_facts=df_loan_facts[["account_number","customer_code","matured_loan_count"]]

In [6]:
df_matured_loan_customers=df_loan_master[df_loan_master["is_active"]==0][["customer_code"]].groupby(["customer_code"]).agg(
    matured_loan_count=("customer_code","count")
)
df_matured_loan_customers.reset_index(inplace=True)
df_matured_loan_customers

                                 customer_code  matured_loan_count
0     0064a60e91c45c9af5ef6c1c429061e8a2c9da21                   1
1     006e97aacc8ec322487f881ef1f328ef67304a0c                   1
2     00e280a5fbc7766d2ff795b7e2fc92f85b3ff6d4                   1
3     010db3724de058bd3908c64899f120dbe1e7b170                   1
4     012b2bc1a3507c59871ed7df226b40b3377626ea                   1
...                                        ...                 ...
1842  ff96b2650fd5b013be3bf61367a7825a4822d4da                   2
1843  ffb198bd99c153babbea0ac5fe84f6529ed26219                   1
1844  ffb4c431f0a4a0612b969984d0d8c7fe2bcb42f9                   1
1845  ffb749a0f7cda44172746c24baa39fc2b3c046a9                   1
1846  ffd172db55eaf1c7cc30fc5d890ebba034cfa26f                   1

[1847 rows x 2 columns]

In [7]:
df_qa_vs_dev=pd.merge(df_matured_loan_customers,df_loan_facts,how="inner",on="customer_code",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["matured_loan_count_qa"]==df_qa_vs_dev["matured_loan_count_dev"]
    ],
    [
        'Pass'
    ],
    default='Fail'
)
df_qa_vs_dev

,customer_code,matured_loan_count_qa,account_number,matured_loan_count_dev,status
0,04c05d6600745029006e559a448c4eb56ec02a80,1,9c0b57d2f919b7b0a122eb2d54f52f408528f86c,1,Pass
1,2355e6a87460f818904c967f89cff8cec4bc7d41,1,d44259e9982d0a5560831825ade9003b5c04f376,1,Pass
2,42d0abde8aecd48e7bcac35b6e0ef1cb16c43de1,1,b19d74932c22332f433bf6f0ad5f665f4ccecee6,1,Pass
3,4436d88ac33cc54d9057f3a6e15d54b830dc4ba5,1,79ac4bdbcb179cc0eb09baa3414fcac0599b634a,1,Pass
4,4be7f8d79addcdd36df79498ebb7dde57b7573c8,1,f2fed3cb4b8784fc2aa9496b48c73568997714ad,1,Pass
5,69a2d57459bcded8517aba1ee3edc0fd2d5a0eb1,1,e8b994ea7ea110cdc25fffa53b9989d50f284b25,1,Pass
6,7ad414d0d81d90c487a368972b0e401306ee381c,1,d4c775e56bc42c91c33429fcb8bbac581c4c0ce0,1,Pass
7,7d66cb7a3b4bfd06ec8cf2864933de59c85a1f5f,1,4f7b1a056b5db118d86d561e4c5345caba82707e,1,Pass
8,7f4ab8bec613d98bb9ddec674a8f8bccb2359415,1,2b79593cf8228b5529f8b942bf52c5defd0a3b48,1,Pass
9,7f4ab8bec613d98bb9ddec674a8f8bccb2359415,1,f71ea30f3e843cc2c07fcf25c40662a17e9e78d1,1,Pass
10,c777f14be95a440db066efed883fcc0e79e757c8,1,4b74c3ae01412a02468ca666dd291f3bb59aa78a,1,Pass
11,ccf97a397e49422622d34b8b5332bbb65433fe0f,1,829f390c0dd6ff2dd5dbf5dc0c24cb84f3364aa6,1,Pass
12,eca9718862ccc38ad102f8f401ec86dffa5322d2,1,6597ca478625b9d6d9748c8301ad821b7b3e5341,1,Pass
13,f9cb3fed5cef735d3bca4d84db702241a77c7377,1,ed3528691805776b1852847b8160dd3158cc19df,1,Pass

In [8]:
df_qa_vs_dev["status"].value_counts()

Pass    14
Name: status, dtype: int64

In [9]:
df_loan_facts[df_loan_facts["matured_loan_count"]!=0].shape

(14, 3)