# Validation of balance facts

In [ ]:
import sqlalchemy 
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import *

In [ ]:
# Get start date and end date
end_date=datetime(2021,6,30)
start_date=end_date-relativedelta(months=11)
start_date=start_date.strftime('%Y-%m-01')
start_date

In [ ]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [5]:
# df_transaction_base
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_transaction_base=pd.read_sql('fc_transaction_base',con=engine)

In [ ]:
# df_balance_summary
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_balance_summary=pd.read_sql('fc_balance_summary',con=engine)

In [ ]:
# df_deposit_facts
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_deposit_facts=pd.read_sql('fc_deposit_facts',con=engine)
df_deposit_facts=df_deposit_facts[["account_number","avg_monthly_balance","std_monthly_balance","var_monthly_balance"]]

In [ ]:
# Get balance of days in which transaction was performed
df_transaction_balance_merged=pd.merge(df_balance_summary,df_transaction_base,how="inner",on=["account_number","tran_date"],suffixes=('','_'))
df_transaction_balance_merged=df_transaction_balance_merged[["account_number","tran_date","lcy_amount"]]
df_transaction_balance_merged.drop_duplicates(inplace=True)

In [ ]:
# extract year and month
df_transaction_balance_merged["year"]=df_transaction_balance_merged["tran_date"].dt.year
df_transaction_balance_merged["month"]=df_transaction_balance_merged["tran_date"].dt.month
df_transaction_balance_merged

In [77]:
# Get balance in monthly level
def min_format(x):
    return np.min(x).strftime('%Y-%m-01')

df_transaction_balance_merged_agg=df_transaction_balance_merged.groupby(["account_number","year","month"]).agg(
    monthly_avg=("lcy_amount","mean"),
    tran_date=("tran_date",min_format)
)
df_transaction_balance_merged_agg.reset_index(inplace=True)

In [15]:
# Get all salary transactions
df_transaction_base_sal=df_transaction_base[(df_transaction_base["is_salary"]!=0)]
df_transaction_base_sal

,id,tran_id,tran_date,account_number,org_id,branch,product,lcy_amount,fcy_amount,description1,description2,description3,dc_indicator,transaction_code,is_salary,modified_by,modified_on,created_by,created_on
134,135,None,2021-04-24,b37fec3f5493b2c5bee43bee17e22bab3644e010,None,None,None,10000.0000000000,None,FP:MLAXMIV5-8039977-,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 06:08:11
178,179,None,2021-01-23,b37fec3f5493b2c5bee43bee17e22bab3644e010,None,None,None,10000.0000000000,None,FP:MLAXMIV5-6442960-,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 06:08:11
185,186,None,2021-04-29,b9384d39105cd0521303349089d27e429c1eebfe,None,None,None,21850.0000000000,None,para salary chaitra 2077,None,None,deposit,None,1,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 06:08:11
189,190,None,2021-03-26,b37fec3f5493b2c5bee43bee17e22bab3644e010,None,None,None,10000.0000000000,None,FP:MLAXMIV5-7502754-,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 06:08:11
229,230,None,2021-02-07,b9384d39105cd0521303349089d27e429c1eebfe,None,None,None,18658.0000000000,None,STAFF SALARY POUSH 2077,None,None,deposit,None,1,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 06:08:11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5499681,5555008,None,2021-03-01,6f7610ac3ece4246a819dfb94a9d10472538daf9,None,None,None,52918.7200000000,None,Standing Instruction,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 14:00:00
5499721,5555288,None,2021-04-18,5fec1fcaadcc1728a200be7bff7ba81c68af4dac,None,None,None,2399773.5299999998,None,Standing Instruction,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 14:00:00
5499727,5555320,None,2021-05-18,5fec1fcaadcc1728a200be7bff7ba81c68af4dac,None,None,None,2409663.5299999998,None,Standing Instruction,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 14:00:00
5499861,5556366,None,2021-05-01,152e0f2b7dc6b36dddda69f1442e26170be9d5d8,None,None,None,21821.4600000000,None,Standing Instruction,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 14:00:06
5499921,5556943,None,2021-04-20,2a27a586b9dca379257a1aab6561a360b1ccf636,None,None,None,648930.7700000000,None,TRF FROM CURRENT TO CALL,None,None,deposit,None,3,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 14:00:11

In [16]:
# Year Month of required dates
df_year_month=pd.DataFrame({
    "year":[2020,2020,2020,2020,2020,2020,2021,2021,2021,2021,2021,2021],
    "month":[7,8,9,10,11,12,1,2,3,4,5,6],
    "tran_date":["2020-07-01","2020-08-01",'2020-09-01','2020-10-01','2020-11-01','2020-12-01','2021-01-01','2021-02-01',"2021-03-01","2021-04-01",'2021-05-01','2021-06-01']
})
df_year_month["const"]=1
df_year_month["tran_date"]=df_year_month["tran_date"].astype('datetime64[ns]')
df_year_month

    year  month  tran_date  const
0   2020      7 2020-07-01      1
1   2020      8 2020-08-01      1
2   2020      9 2020-09-01      1
3   2020     10 2020-10-01      1
4   2020     11 2020-11-01      1
5   2020     12 2020-12-01      1
6   2021      1 2021-01-01      1
7   2021      2 2021-02-01      1
8   2021      3 2021-03-01      1
9   2021      4 2021-04-01      1
10  2021      5 2021-05-01      1
11  2021      6 2021-06-01      1

In [17]:
# Get distinct account_number
df_distinct_account=df_transaction_base_sal.groupby(["account_number"]).agg(
    min_tran_date=("tran_date","min")
)
df_distinct_account.reset_index(inplace=True)
df_distinct_account["min_tran_date"]=df_distinct_account["min_tran_date"].dt.strftime("%Y-%m-01")
df_distinct_account["min_tran_date"]=df_distinct_account["min_tran_date"].astype('datetime64[ns]')
df_distinct_account.dtypes

account_number            object
min_tran_date     datetime64[ns]
dtype: object

In [19]:
# Get mapping of account number and tran_date
df_distinct_account["const"]=1
df_acc_date_map=pd.merge(df_distinct_account,df_year_month,how="outer")

df_acc_date_map=df_acc_date_map[df_acc_date_map["tran_date"]>=df_acc_date_map["min_tran_date"]]
# print(df_acc_date_map[df_acc_date_map["account_number"]=="00009d049f8fae9a942ca0063f4257182af54c89"])
df_acc_date_map=df_acc_date_map[["account_number","tran_date","year","month"]]
df_acc_date_map

                                  account_number  tran_date  year  month
6       00009d049f8fae9a942ca0063f4257182af54c89 2021-01-01  2021      1
7       00009d049f8fae9a942ca0063f4257182af54c89 2021-02-01  2021      2
8       00009d049f8fae9a942ca0063f4257182af54c89 2021-03-01  2021      3
9       00009d049f8fae9a942ca0063f4257182af54c89 2021-04-01  2021      4
10      00009d049f8fae9a942ca0063f4257182af54c89 2021-05-01  2021      5
...                                          ...        ...   ...    ...
371023  fffef9f15af92a8025906e7bd8550ba5d33666da 2021-02-01  2021      2
371024  fffef9f15af92a8025906e7bd8550ba5d33666da 2021-03-01  2021      3
371025  fffef9f15af92a8025906e7bd8550ba5d33666da 2021-04-01  2021      4
371026  fffef9f15af92a8025906e7bd8550ba5d33666da 2021-05-01  2021      5
371027  fffef9f15af92a8025906e7bd8550ba5d33666da 2021-06-01  2021      6

[166175 rows x 4 columns]

In [161]:
# Balance on all required dates
df_merged=pd.merge(df_acc_date_map,df_transaction_balance_merged_agg,how="left",on=["account_number","year","month"],suffixes=('','_'))
df_merged=df_merged[["account_number","tran_date","year","month","monthly_avg"]]
df_merged
#df_merged[df_merged["account_number"]=="00009d049f8fae9a942ca0063f4257182af54c89"]

,account_number,tran_date,year,month,monthly_avg
0,00009d049f8fae9a942ca0063f4257182af54c89,2021-01-01,2021,1,136557.8455555556
1,00009d049f8fae9a942ca0063f4257182af54c89,2021-02-01,2021,2,146644.7166666667
2,00009d049f8fae9a942ca0063f4257182af54c89,2021-03-01,2021,3,106732.2233333333
3,00009d049f8fae9a942ca0063f4257182af54c89,2021-04-01,2021,4,102379.9700000000
4,00009d049f8fae9a942ca0063f4257182af54c89,2021-05-01,2021,5,nan
...,...,...,...,...,...
166170,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-02-01,2021,2,50527.4700000000
166171,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-03-01,2021,3,98808.0950000000
166172,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-04-01,2021,4,161448.4700000000
166173,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-05-01,2021,5,nan
166174,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-06-01,2021,6,nan

In [1]:
df_balance_prev_year[df_balance_prev_year["account_number"]=="ffc99749e43c9656532a53c2a1bbda08fefc0b35"]

NameError: name 'df_balance_prev_year' is not defined

In [162]:
# Find Opening balance
df_transaction_balance_merged_bal_on_last_day_before=df_transaction_balance_merged[df_transaction_balance_merged["tran_date"]<start_date]
df_transaction_balance_merged_bal_on_last_day_before=df_transaction_balance_merged_bal_on_last_day_before.sort_values(by=["account_number","tran_date"],ascending=False).groupby(["account_number"]).agg(
        opening_balance=("lcy_amount","first")
)
df_transaction_balance_merged_bal_on_last_day_before.reset_index(inplace=True)
df_transaction_balance_merged_bal_on_last_day_before["tran_date"]=start_date
df_transaction_balance_merged_bal_on_last_day_before

Empty DataFrame
Columns: [account_number, opening_balance, tran_date]
Index: []

In [163]:
# Find balance on last day of every month between start date and end date
df_transaction_balance_merged_bal_on_last_day=df_transaction_balance_merged[df_transaction_balance_merged["tran_date"]>=start_date]
df_transaction_balance_merged_bal_on_last_day=df_transaction_balance_merged_bal_on_last_day.sort_values(by=["account_number","tran_date"],ascending=False).groupby(["account_number","year","month"]).agg(
        lcy_amount=("lcy_amount","first"),
        tran_date=("tran_date","first")
)
df_transaction_balance_merged_bal_on_last_day.reset_index(inplace=True)
# df_transaction_balance_merged_bal_on_last_day[df_transaction_balance_merged_bal_on_last_day["account_number"]=="00009d049f8fae9a942ca0063f4257182af54c89"]
#df_transaction_balance_merged_bal_on_last_day.reset_index(inplace=True)
df_transaction_balance_merged_bal_on_last_day["tran_date"]=df_transaction_balance_merged_bal_on_last_day["tran_date"].dt.strftime("%Y-%m-01")
df_transaction_balance_merged_bal_on_last_day["tran_date"]=df_transaction_balance_merged_bal_on_last_day["tran_date"].astype('datetime64[ns]')
df_transaction_balance_merged_bal_on_last_day["tran_date"]=df_transaction_balance_merged_bal_on_last_day["tran_date"]+pd.DateOffset(months=1)
df_transaction_balance_merged_bal_on_last_day

,account_number,year,month,lcy_amount,tran_date
0,00001c0e89c9c2a29f56798838ea6f0f63446c22,2021,1,1186.4800000000,2021-02-01
1,00001fd435a10fc9aebab3beca78b771408f469e,2021,1,6504.0300000000,2021-02-01
2,000023336cb4cc78fd3904566ea99a250c07e227,2021,1,590.8900000000,2021-02-01
3,00004e50b532d509697c4b42c87c15b4a9eccdd6,2021,1,2491.2900000000,2021-02-01
4,0000542d63c18966b3318625463e9867e05dde7a,2021,1,12984.9800000000,2021-02-01
...,...,...,...,...,...
587965,ffffa606f367a60e374b9c4eda44cb037f0b37e5,2021,3,12402.8200000000,2021-04-01
587966,ffffaa0d080061463b440e696f803427aba32aae,2021,1,51.6700000000,2021-02-01
587967,ffffc2ef9d74f97706c25cec260e0705403303e6,2021,1,144.3500000000,2021-02-01
587968,ffffc2ef9d74f97706c25cec260e0705403303e6,2021,3,12144.3500000000,2021-04-01
587969,ffffee94a4b570e441a8eb64c20227305cbf057f,2021,1,586.2200000000,2021-02-01

In [167]:

df_balance_prev_year_before=pd.merge(df_merged,df_transaction_balance_merged_bal_on_last_day_before,how="left",on=["account_number","tran_date"])
df_balance_prev_year_before=df_balance_prev_year_before[["account_number","tran_date","monthly_avg","opening_balance"]]
df_balance_prev_year_before["balance"]=np.select(
    [
        df_balance_prev_year_before["monthly_avg"].notna()
    ],
    [
        df_balance_prev_year_before["monthly_avg"]
    ],
    default=df_balance_prev_year_before["opening_balance"]
)
#df_balance_prev_year=df_balance_prev_year[df_balance_prev_year["account_number"]=="00009d049f8fae9a942ca0063f4257182af54c89"]
df_balance_prev_year_before

,account_number,tran_date,monthly_avg,opening_balance,balance
0,00009d049f8fae9a942ca0063f4257182af54c89,2021-01-01,136557.8455555556,nan,136557.8455555556
1,00009d049f8fae9a942ca0063f4257182af54c89,2021-02-01,146644.7166666667,nan,146644.7166666667
2,00009d049f8fae9a942ca0063f4257182af54c89,2021-03-01,106732.2233333333,nan,106732.2233333333
3,00009d049f8fae9a942ca0063f4257182af54c89,2021-04-01,102379.9700000000,nan,102379.9700000000
4,00009d049f8fae9a942ca0063f4257182af54c89,2021-05-01,nan,nan,nan
...,...,...,...,...,...
166170,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-02-01,50527.4700000000,nan,50527.4700000000
166171,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-03-01,98808.0950000000,nan,98808.0950000000
166172,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-04-01,161448.4700000000,nan,161448.4700000000
166173,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-05-01,nan,nan,nan
166174,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-06-01,nan,nan,nan

In [168]:
df_balance_prev_year=pd.merge(df_balance_prev_year_before,df_transaction_balance_merged_bal_on_last_day,how="left",on=["account_number","tran_date"])
df_balance_prev_year=df_balance_prev_year[["account_number","tran_date","monthly_avg","lcy_amount"]]
df_balance_prev_year["balance"]=np.select(
    [
        df_balance_prev_year["monthly_avg"].notna()
    ],
    [
        df_balance_prev_year["monthly_avg"]
    ],
    default=df_balance_prev_year["lcy_amount"]
)
#df_balance_prev_year=df_balance_prev_year[df_balance_prev_year["account_number"]=="00009d049f8fae9a942ca0063f4257182af54c89"]
df_balance_prev_year

,account_number,tran_date,monthly_avg,lcy_amount,balance
0,00009d049f8fae9a942ca0063f4257182af54c89,2021-01-01,136557.8455555556,nan,136557.8455555556
1,00009d049f8fae9a942ca0063f4257182af54c89,2021-02-01,146644.7166666667,146324.1400000000,146644.7166666667
2,00009d049f8fae9a942ca0063f4257182af54c89,2021-03-01,106732.2233333333,134096.1100000000,106732.2233333333
3,00009d049f8fae9a942ca0063f4257182af54c89,2021-04-01,102379.9700000000,97879.9700000000,102379.9700000000
4,00009d049f8fae9a942ca0063f4257182af54c89,2021-05-01,nan,94879.9700000000,94879.9700000000
...,...,...,...,...,...
166170,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-02-01,50527.4700000000,23307.4700000000,50527.4700000000
166171,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-03-01,98808.0950000000,54267.4700000000,98808.0950000000
166172,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-04-01,161448.4700000000,181468.4700000000,161448.4700000000
166173,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-05-01,nan,161448.4700000000,161448.4700000000
166174,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-06-01,nan,nan,nan

In [175]:
df_balance_prev_year
df_balance_prev_year=df_balance_prev_year.ffill()
df_balance_prev_year
df_balance_prev_year[df_balance_prev_year["account_number"]=="002c2dfc4f29490299c182392eba140fdb1c9623"]
#df_balance_prev_year=df_balance_prev_year.groupby("account_number").bfill().ffill()
#df_balance_prev_year.reset_index(inplace=True)
#df_balance_prev_year[df_balance_prev_year["account_number"]=="00009d049f8fae9a942ca0063f4257182af54c89"]

,account_number,tran_date,monthly_avg,lcy_amount,balance
104,002c2dfc4f29490299c182392eba140fdb1c9623,2021-04-01,728466.7500000000,31606.1100000000,31606.1100000000
105,002c2dfc4f29490299c182392eba140fdb1c9623,2021-05-01,728466.7500000000,31606.1100000000,31606.1100000000
106,002c2dfc4f29490299c182392eba140fdb1c9623,2021-06-01,728466.7500000000,31606.1100000000,31606.1100000000

In [170]:
df_acc_balance=df_balance_prev_year.groupby(["account_number"]).agg(
    avg_monthly_balance=("balance","mean")
)

In [171]:
df_qa_vs_dev=pd.merge(df_acc_balance,df_deposit_facts,how="inner",on="account_number",suffixes=('_qa','_dev'))
df_qa_vs_dev["avg_monthly_balance_status"]=np.select(
    [
        (df_qa_vs_dev["avg_monthly_balance_qa"]-df_qa_vs_dev["avg_monthly_balance_dev"]<0.5)
    ],
    [
        "pass"
    ],
    default="fail"
)

df_qa_vs_dev

,account_number,avg_monthly_balance_qa,avg_monthly_balance_dev,std_monthly_balance,var_monthly_balance,avg_monthly_balance_status
0,00009d049f8fae9a942ca0063f4257182af54c89,113679.1159259259,113679.1200000000,20383.4600000000,415485482.0199999809,pass
1,0000bb835aa73658f51e6ab82cf398b019ac1e42,318176.5600000000,318176.5600000000,0.0000000000,0.0000000000,pass
2,00016b54c6bd7328b2899c137158ff0aab0099e4,152896.2388888889,152896.2400000000,40138.2900000000,1611081965.0899999142,pass
3,00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,532473.9196296297,532473.9200000000,451152.2500000000,203538350425.7000122070,pass
4,00045b681e613bb66ce53c2517976a256fec9292,99743.5630158730,99743.5600000000,84473.1900000000,7135719648.6300001144,pass
...,...,...,...,...,...,...
30378,fff99e408b8f61139022f67074b435f74062793f,10835.0587580061,10835.0600000000,2637.8100000000,6958048.0300000003,pass
30379,fffc47d84b019ebf1f045de66331f981d448b3c8,2907.7500000000,0.0000000000,0.0000000000,0.0000000000,fail
30380,fffc7cca92704cf68c6e935843ab24f80fc83418,18808.3000000000,18808.3000000000,20823.3400000000,433611600.0000000000,pass
30381,fffce749db8d2a7ddd0437085e03ff8d1e1308ef,1244.6414285714,1244.6400000000,296.7400000000,88053.1000000000,pass
30382,fffef9f15af92a8025906e7bd8550ba5d33666da,137536.9810416667,137536.9800000000,47788.2200000000,2283714002.7199997902,pass

In [172]:
df_qa_vs_dev["avg_monthly_balance_status"].value_counts()

pass    29366
fail     1017
Name: avg_monthly_balance_status, dtype: int64

In [173]:
df_qa_vs_dev[df_qa_vs_dev["avg_monthly_balance_status"]=='fail']

,account_number,avg_monthly_balance_qa,avg_monthly_balance_dev,std_monthly_balance,var_monthly_balance,avg_monthly_balance_status
19,002c2dfc4f29490299c182392eba140fdb1c9623,31606.1100000000,0.0000000000,0.0000000000,0.0000000000,fail
28,003aab036796bb6d56bf20045c64b92c512584b1,428725.7000000000,0.0000000000,0.0000000000,0.0000000000,fail
77,00b15bf906459f70356e5f70abbd4934d663ef7f,15967.5200000000,0.0000000000,0.0000000000,0.0000000000,fail
93,00dc4ee35db2cdb2bc8d799fb5d674a223be3e9a,269.0200000000,0.0000000000,0.0000000000,0.0000000000,fail
125,011144b1e3b81a696e47d22d6d6a4aee92e40659,853.4000000000,0.0000000000,0.0000000000,0.0000000000,fail
...,...,...,...,...,...,...
30319,ff6dc5c19422560d747d860b6cf84c6571eb476a,102.2800000000,0.0000000000,0.0000000000,0.0000000000,fail
30327,ff8004ed9a864a8775a18b2e16e8c1d5bbf91c56,478.4100000000,0.0000000000,0.0000000000,0.0000000000,fail
30331,ff8ecf347b6dd9a66d99855c7e3a6f66285f1d54,21895.9200000000,0.0000000000,0.0000000000,0.0000000000,fail
30351,ffc99749e43c9656532a53c2a1bbda08fefc0b35,942697.2200000000,0.0000000000,0.0000000000,0.0000000000,fail
30379,fffc47d84b019ebf1f045de66331f981d448b3c8,2907.7500000000,0.0000000000,0.0000000000,0.0000000000,fail

In [183]:
df_balance_summary[df_balance_summary["account_number"]=="002c2dfc4f29490299c182392eba140fdb1c9623"]

,id,org_id,tran_date,account_number,branch,product,lcy_amount,fcy_amount,created_by,created_on
243219,243220,None,2021-01-13,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,21606.1100000000,None,SPAUDEL,2021-07-01 13:01:19
244471,244472,None,2021-03-31,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,31606.1100000000,None,SPAUDEL,2021-07-01 13:01:38
245734,245735,None,2021-01-20,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,6606.1100000000,None,SPAUDEL,2021-07-01 13:02:18
2100456,2154669,None,2020-01-01,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,5000.0000000000,None,SPAUDEL,2021-07-03 20:10:29

In [184]:
df_transaction_base[df_transaction_base["account_number"]=="002c2dfc4f29490299c182392eba140fdb1c9623"]

,id,tran_id,tran_date,account_number,org_id,branch,product,lcy_amount,fcy_amount,description1,description2,description3,dc_indicator,transaction_code,is_salary,modified_by,modified_on,created_by,created_on
620867,620868,None,2021-04-04,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,25000.0000000000,None,BHUWAN SINGH KAFLE,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:16:25
623010,623011,None,2021-01-20,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,15000.0000000000,None,SELF,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:16:28
626467,626468,None,2021-01-13,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,20000.0000000000,None,SELF,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:16:33
627705,627706,None,2021-04-13,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,42.9900000000,None,0120009802200001:Int.Pd:14-01-2021 to 13-04-2021,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 06:16:35
631345,631346,None,2021-04-18,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,30000.0000000000,None,cIPS/ACXFR:17794467:Ram kumar kafle/Salary,None,None,deposit,None,1,None,2021-07-08 16:04:34,SPAUDEL,2021-07-04 06:16:40
632585,632586,None,2021-04-13,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,2.1500000000,None,0120009802200001:WTax.Pd:14-01-2021to 13-04-2021,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:16:42
641000,641001,None,2021-01-13,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,216.5100000000,None,0120009802200001:Int.Pd:17-10-2020 to 13-01-2021,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 06:16:54
642551,642552,None,2021-03-31,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,50000.0000000000,None,cIPS/ACXFR:16368923:Ram kumar kafle/Sapati,None,None,deposit,None,0,None,NaT,SPAUDEL,2021-07-04 06:16:56
651395,651396,None,2021-01-13,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,10.8300000000,None,0120009802200001:WTax.Pd:17-10-2020to 13-01-2021,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:17:07
651409,651410,None,2021-05-02,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,30000.0000000000,None,SELF,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:17:07
656437,656438,None,2021-03-31,002c2dfc4f29490299c182392eba140fdb1c9623,None,None,None,25000.0000000000,None,BHUWAN SINGH KAFLE,None,None,withdraw,None,0,None,NaT,SPAUDEL,2021-07-04 06:17:14