# Validation of total_observation_months

In [1]:
import sqlalchemy
import pandas as pd
import numpy as np

In [3]:
# Read fc_account_master table
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_account_master=pd.read_sql('fc_account_master',con=engine,parse_dates=["acc_open_date","acc_closed_date"])

In [5]:
# Get selected fields
df_account_master=df_account_master[["account_number","customer_code","acc_open_date","acc_closed_date","active_flag"]]
df_account_master

,account_number,customer_code,acc_open_date,acc_closed_date,active_flag
0,7cc8246abc6f8394f765b9ea51b3ab2fb3b1cd9d,5e93df108d36e905f3fbac34e8847aa75a22c535,2008-06-22,NaT,1
1,b37fec3f5493b2c5bee43bee17e22bab3644e010,01b075962aa289e5df8b0d678aa1e356dd3b9486,2005-02-02,NaT,1
2,1676918b3186d0e09649892af91749c0663f3ec7,4ef79b280a261289720c423d3dd246350905e664,2008-09-01,NaT,1
3,dcc2eed075af84f2f818bb83933edec11e113e52,f48088697ce963115ca1e1e0c4dfd66acbf427a3,2007-01-28,NaT,1
4,44b868362d8cdb07c772e4a685904c688b29debf,2f8412b9360870016b3e5fc748a5a2814a710103,2006-09-15,NaT,1
...,...,...,...,...,...
664511,a25fa8600edd9f0130ecb27c0535e1e59240d4c2,ce33c3ff476610439267ecc88eadfbb86f8a8a2d,2021-04-06,NaT,1
664512,1ec3a201cb7b3367067d607a62520d93b00ea7f8,6aa99e38e773ff370472d7d5d0ae98d82fbd1d35,2021-04-01,NaT,1
664513,fbd897258c1f05fa72141108e839732a5d42d5ed,64198509f70cf191fea1cf4713a030c5f3da4239,2021-04-06,NaT,1
664514,a2e76efaf5c8cbfabe0b3b10ac1e42d3e85683a7,4be003b1c14547fd4581b361e268826b30e86332,2021-03-03,NaT,1
664515,700dbe0978192aef2fa9f87477fcb3f26f2e0923,caeb68db13c651dffd9b741e64881d1a8d7b8ebe,2021-03-09,NaT,1

In [6]:
# Read fc_transaction_base table
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_raw")
df_transaction_base=pd.read_sql('fc_transaction_base',con=engine,parse_dates=["tran_date"])

In [7]:
# Get selected fields
df_transaction_base=df_transaction_base[["account_number","tran_date","lcy_amount","is_salary"]] 
df_transaction_base_sal=df_transaction_base[df_transaction_base["is_salary"]!=0]

In [8]:
# Read fc_pre_facts table
engine=sqlalchemy.create_engine("mysql+pymysql://sony:Extenso@123@10.13.189.55/dax_facts")
df_pre_facts=pd.read_sql('fc_pre_facts',con=engine)

In [10]:
# Get selected fields
df_pre_facts=df_pre_facts[["account_number","total_observation_months"]]

In [12]:
# Get min_salary_transaction_date for each account_number
df_transaction_base_min_tran_date=df_transaction_base_sal.groupby(["account_number"]).agg(
    min_tran_date=("tran_date","min")
)
df_transaction_base_min_tran_date

                                         min_tran_date
account_number
00009d049f8fae9a942ca0063f4257182af54c89    2021-01-12
0000bb835aa73658f51e6ab82cf398b019ac1e42    2021-03-29
00016b54c6bd7328b2899c137158ff0aab0099e4    2021-01-21
00018eaa26ee0c3836b3c1d080627a3a2b3e45f5    2021-01-15
00045b681e613bb66ce53c2517976a256fec9292    2021-01-10
...                                                ...
fff99e408b8f61139022f67074b435f74062793f    2021-01-16
fffc47d84b019ebf1f045de66331f981d448b3c8    2021-04-19
fffc7cca92704cf68c6e935843ab24f80fc83418    2021-02-14
fffce749db8d2a7ddd0437085e03ff8d1e1308ef    2021-03-25
fffef9f15af92a8025906e7bd8550ba5d33666da    2021-01-05

[30919 rows x 1 columns]

In [13]:
# Get end date
from datetime import datetime
end_date=datetime(2021,7,1)

In [18]:
# Find total_observation_months
df_transaction_base_min_tran_date["total_observation_months"]=(end_date.year-df_transaction_base_min_tran_date["min_tran_date"].dt.year)*12+(end_date.month-df_transaction_base_min_tran_date["min_tran_date"].dt.month)+1
df_transaction_base_min_tran_date

,min_tran_date,total_observation_months
account_number,,
00009d049f8fae9a942ca0063f4257182af54c89,2021-01-12,7
0000bb835aa73658f51e6ab82cf398b019ac1e42,2021-03-29,5
00016b54c6bd7328b2899c137158ff0aab0099e4,2021-01-21,7
00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,2021-01-15,7
00045b681e613bb66ce53c2517976a256fec9292,2021-01-10,7
...,...,...
fff99e408b8f61139022f67074b435f74062793f,2021-01-16,7
fffc47d84b019ebf1f045de66331f981d448b3c8,2021-04-19,4
fffc7cca92704cf68c6e935843ab24f80fc83418,2021-02-14,6
fffce749db8d2a7ddd0437085e03ff8d1e1308ef,2021-03-25,5
fffef9f15af92a8025906e7bd8550ba5d33666da,2021-01-05,7

In [19]:
# qa vs development
df_qa_vs_dev=pd.merge(df_transaction_base_min_tran_date,df_pre_facts,how="inner",on="account_number",suffixes=('_qa','_dev'))
df_qa_vs_dev["status"]=np.select(
    [
        df_qa_vs_dev["total_observation_months_qa"]==df_qa_vs_dev["total_observation_months_dev"]
    ],
    [
        "pass"
    ],
    default="fail"
)
df_qa_vs_dev

,account_number,min_tran_date,total_observation_months_qa,total_observation_months_dev,status
0,00009d049f8fae9a942ca0063f4257182af54c89,2021-01-12,7,7,pass
1,0000bb835aa73658f51e6ab82cf398b019ac1e42,2021-03-29,5,5,pass
2,00016b54c6bd7328b2899c137158ff0aab0099e4,2021-01-21,7,7,pass
3,00018eaa26ee0c3836b3c1d080627a3a2b3e45f5,2021-01-15,7,7,pass
4,00045b681e613bb66ce53c2517976a256fec9292,2021-01-10,7,7,pass
...,...,...,...,...,...
30914,fff99e408b8f61139022f67074b435f74062793f,2021-01-16,7,7,pass
30915,fffc47d84b019ebf1f045de66331f981d448b3c8,2021-04-19,4,4,pass
30916,fffc7cca92704cf68c6e935843ab24f80fc83418,2021-02-14,6,6,pass
30917,fffce749db8d2a7ddd0437085e03ff8d1e1308ef,2021-03-25,5,5,pass
30918,fffef9f15af92a8025906e7bd8550ba5d33666da,2021-01-05,7,7,pass

In [20]:
df_qa_vs_dev['status'].value_counts()

pass    30919
Name: status, dtype: int64